# 第5章 Pythonを使った人工知能の前処理を学ぶ

## 5.1 はじめに

臨床での開発や研究が盛んにおこなわれていない。
臨床施設は画像データを含む多くの医療データを所有している。
SVNにはスケール変換が必要なことは有名。

## 5.2 テーブルデータにおける欠損値の取り扱い

### 5.2.1 テーブルデータの読み込み

リスト5.2.2 pandasを用いたcsvファイルの読み込みと表示

In [3]:
import pandas as pd
# コンマ区切りでcsvファイルを読み込み、性別を0, 1に置き換える。
df = pd.read_csv(
    "/Users/toku/Documents/Progects/カルー勉強会/"+
    "titanic/train.csv", sep=",").replace("male", 0).replace("female", 1)

print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name  Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    0  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...    1  38.0      1
2                               Heikkinen, Miss. Laina    1  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)    1  35.0      1
4                             Allen, Mr. William Henry    0  35.0      0
..                                                 ...  ...   ...    ...
886                              Montvila, Rev. Juozas    0  27.0      0
887                       Graham, Miss. Margaret Edith    1  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"    1   NaN      1
889                              Behr, Mr. Karl Howell    0  26.0      0
890                                Dooley, Mr. Patrick    0  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]